.container-fluid #sidebar-container {
    position: fixed;
    top: 0;
    right: 0;


    flex: 0 0 25%; /* Sidebar takes 25% of the width */
    max-width: 25%;
    height: 100vh;
    overflow-y: auto;
    z-index: 1050;

    padding-left: 0;
    padding-right: 0;

    border-left-width: 1px !important;
    border-left-style: solid !important;
    border-left-color: rgb(222, 226, 230) !important;
    
}

/* #sidebar {
    padding-top: 1rem;
} */

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    height: 100%;   /* TODO: remove?? */
}

.container-fluid .main-content {
    flex: 1; /* Main content takes the remaining width */
    padding-left: 5%;
    padding-right: 5%;
    transition: flex 0.3s ease; /* Smooth transition for shrinking */
}

.container-fluid .main-content.shrink {
    /* padding: 1rem; */
    padding-left: 2%;
    padding-right: 2%;
    flex: 0 0 75%; /* Shrink main content to 75% when sidebar is open */
}
