/* Sidebar.css */

/* #sidebar {
    padding: 1rem;
}

.sidebar-header {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

#sidebar-nav .list-group-item {
    padding: 0.5rem 1rem;
} */
