/* #sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1050;
}

#sidebar {
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

#sidebar-nav .list-group-item {
    padding: 0.5rem 1rem;
} */






#sidebar-container {
    position: fixed;
    top: 0;
    right: 0;


    flex: 0 0 25%; /* Sidebar takes 25% of the width */
    max-width: 25%;
    height: 100vh;
    overflow-y: auto;
    z-index: 1050;

    padding-left: 0;
    padding-right: 0;
}

#sidebar {
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* padding-right: 1rem; */
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    height: 100%;   /* TODO: remove?? */
}

#sidebar-nav .list-group-item {
    padding: 0.5rem 1rem;
}

#sidebar-title {
    margin: 0;
}

.container-fluid .main-content {
    flex: 1; /* Main content takes the remaining width */
    padding-left: 5%;
    padding-right: 5%;
    transition: flex 0.3s ease; /* Smooth transition for shrinking */
}

.container-fluid .main-content.shrink {
    /* padding: 1rem; */
    padding-left: 2%;
    padding-right: 2%;
    flex: 0 0 75%; /* Shrink main content to 75% when sidebar is open */
}
